p {
  display: inline-block;
}
.chats-panel {
  position: fixed;
  display: flex;
  top: 45px;
  left: 50px;
  bottom: 0;
  width: 330px;
  background-color: rgb(45, 45, 45);
  border-radius: 6px 0 0 0;
  box-shadow: 1px 0 2px rgb(37, 37, 37);
  z-index: 101;
  color: white;
}

.chats-panel-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  border-radius: 6px 0 0 0;
  padding: 0 20px;
}

.chats-panel-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chats-panel-chats-label {
  /* font-weight: bold; */
  font-size: 23px;
}

.chats-panel-header-top-right {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.chats-panel-header-bottom {
  width: 100%;
  margin-top: 5px;
  height: 35px;
  width: 100%;
}

.chats-panel-search {
  height: 30px;
  width: 90%;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
}

.chats-panel-search,
.chats-panel-search-icon {
  background-color: rgb(69, 69, 69);
}

.chats-panel-search::placeholder {
  color: rgb(188, 187, 187);
}
.chats-panel-search-panel {
  margin-top: -5px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(69, 69, 69);
  padding-left: 10px;
  border-radius: 5px;
  border-bottom: 1px solid rgb(163, 163, 163);
}

.chats-panel-search-icon {
  transform: scaleX(-1);
  width: 15px;
  margin-right: 8px;
  cursor: text;
  background: transparent;
}

.chats-main-conatiner {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  background: transparent;
  max-height: 100vh;
  scrollbar-width: 12px;
  scrollbar-color: rgb(155, 155, 155);
  margin-top: 130px;
}

.chats-main-conatiner::-webkit-scrollbar {
  width: 7px;
}
.chats-main-conatiner::-webkit-scrollbar-track {
  background: transparent;
}
.chats-main-conatiner::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 6px;
  transition: all 0.3s ease;
}

.chats-main-conatiner::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: rgb(183, 183, 183);
}
.chat-container {
  display: flex;
  align-items: top;
  background: transparent;
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: white;
  position: relative;
}
.last-message-time {
  font-size: 13px;
  color: rgb(202, 202, 202);
  width: 50px;
  margin-top: 10px;
}
.chat-container p {
  margin-top: 5px;
  margin-bottom: 0;
}
.profile-picture-container {
  width: 55px;
  margin-right: 20px;
}
.profile-picture {
  width: 55px;
  border-radius: 50%;
}
.chat-preview-container {
  max-width: 75%;
  flex: 1;
}
.chat-name-and-time-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  /* background-color: pink; */
}
.chat-name,
.recent-message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recent-message {
  width: 90%;
  color: rgb(216, 216, 216);
}
.chat-name {
  font-weight: bold;
  width: 70%;
}
